.top-section
{
	margin-bottom: 20px;
}

body
{
	text-align: justify;
	background: #fff !important;
	color: #34495e;
}

.panel, .panel-heading
{
	border-radius: 0 !important;
}
.panel-red {
  border-color: #2980b9;
  margin-bottom: 2px;
}
.panel-red > .panel-heading {
  background-color: #2980b9;
  border-color: #2980b9;
  padding: 5px !important;
}

.panel-heading a
{
  color: #fff !important;
}
.panel-red > .panel-heading + .panel-collapse > .panel-body {
  border-top-color: #2980b9;
}
.panel-red > .panel-heading .badge {
  color: #f5f5f5;
  background-color: #2980b9;
}
.panel-red > .panel-footer + .panel-collapse > .panel-body {
  border-bottom-color: #e67e22;
  background: #ecf0f1;
}


.panel-body ol li
{
	font-family: times, tahoma, helvetica;
	font-size: 110%;
}

.navbar
{
	border-radius: 0;
}